<div class="bg">
  <!-- <div class="img-container">
    <img src="{{descriptionpic}}" alt="" (mouseover)="startpreview()" (mouseout)="changegif()">
</div> -->
  <div class="container-white">
    <div id="main">
        <div class="img-container" *ngIf='show == false'>
            <img src="{{selectedShow.url}}" (mouseover)="startpreview()" (mouseout)="changegif()">
          </div>
          <div class="gif" *ngIf='show == true'>
            <img src="{{selectedShow.gif}}" (mouseover)="startpreview()" (mouseout)="changegif()">
          </div>
      
    </div>
    <div class="watch">
        <a class="btn custom" [attr.href]="selectedShow.dub" target="_blank">Watch Dub</a>
        <a class="btn custom" [attr.href]="selectedShow.sub" target="_blank">Watch Sub</a>
      </div>


    <div>
      <div class="description">
        <p>
          {{selectedShow.des}}
        </p>
      </div>
    </div>

    <div class="white-rating">
        <div class="rating">
            <span id="rating-txt">Rating:</span>
    
            <i class="fas fa-star blue" *ngFor="let item of selectedShow.rating"></i>
            <i class="fas fa-star" *ngFor="let item of selectedShow.ratingL"></i>
    
          </div>
    </div>
  </div>
</div>