.caro{
    width:100%;
    height: 500px;
    position: relative;
}

.overlay{
    position: absolute;
    top: 0;
    left: 0;
    z-index: 9999999;
    width:100%;
    height: 500px;
    background-color: rgba(0,0,0,0.7);
    color: white;
    text-align: center;
    padding-top: 125px;
}
.overlay h1{
    font-size: 42px;
}
#sub1{
    font-size: 36px;
    margin-top: 15px;
}
#sub2{
    font-size: 36px;
    margin-top: 25px;
    
}

#sub3{
    font-size: 36px;
    
}


.slide{
    width:100%;
    height: 500px;
    overflow: hidden;
}

.slide img{
    width:100%;
    height: 100%;
    object-fit: cover;
}

::ng-deep .carousel-indicators{
    z-index: 999999999999 !important;
}

::ng-deep .carousel-control-next
{
    z-index: 999999999999 !important;
}

::ng-deep .carousel-control-prev
{
    z-index: 999999999999 !important;
}
::ng-deep .carousel-control-prev-icon{
    cursor: pointer;
}

::ng-deep .carousel-control-next-icon{
    cursor: pointer;
}

::ng-deep .carousel-indicators li{
    cursor: pointer;
}

.pic-container{
    cursor: pointer;
    width: 100%;
    overflow: hidden;
    height: 250px;
    margin-top: 30px;
    border-radius: 5px;
}

.pic-container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

#body{
    padding-bottom: 100px;
}